{% extends 'base.html' %}

{% block content %}
<html>
    <body>
        <button id="register-btn">Register</button>
        <button id="login-btn">Login</button>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>

<script>
    // Get references to the buttons
    var registerButton = document.getElementById("register-btn");
    var loginButton = document.getElementById("login-btn");

    // Add click event listeners
    registerButton.addEventListener("click", function() {
        window.location.href = "{% url 'register' %}"; // Replace 'register' with your actual URL
    });

    loginButton.addEventListener("click", function() {
        window.location.href = "{% url 'login' %}"; // Replace 'login' with your actual URL
    });
</script>
{% endblock %}

{% block extra_scripts %}
    {% include 'exit_on_close.html' %}
{% endblock %}
